params {
    outdir               = "/home/thamle/rnaseq4/output"
    // Estimate params metadata
    csvDir               = '/home/thamle/rnaseq4/dataset/metadata.csv' 
    design               = '/home/thamle/rnaseq4/dataset/design.csv'
    compare              = '/home/thamle/rnaseq4/dataset/comparison.csv'
    // Estimate params annotation
    index                = '/home/thamle/rnaseq4/ref/index'
    bed12                = '/home/thamle/rnaseq4/ref/chr22_with_ERCC92.bed12'
    gtf                  = '/home/thamle/rnaseq4/ref/chr22_with_ERCC92.gtf'
    // Estimate params output
    fastqc               = "${params.outdir}/fastqc"
    trimed               = "${params.outdir}/trim"
    star                 = "${params.outdir}/star"
    rseqc                = "${params.outdir}/rseqc"
    qualimap             = "${params.outdir}/qualimap"
    picard               = "${params.outdir}/picard"
    preseq               = "${params.outdir}/preseq"
    dupradar             = "${params.outdir}/dupradar"
    featurecount         = "${params.outdir}/featurecount"
    merge_featurecount   = "${params.outdir}/merge_featurecount"
    deseq2               = "${params.outdir}/deseq2"
    gprofiler            = "${params.outdir}/gprofiler"
    multiqc              = "${params.outdir}/multiqc"
}

// Estimate CPU/memory/container
process {
    withName: fastqc {
        cpus             = 4
        memory           = 1.GB
        //container      = 'zymo-fastqc'
    }
    withName: trim_galore {
        cpus             = 4
        memory           = 1.GB
        //container      = 'zymo-trimgalore'
    }
    withName: star {
        cpus             = 4
        memory           = 1.GB
        //container      = 'zymo-trimgalore'
    }
    withName: deseq2 {
        cpus             = 2
        memory           = 1.GB
        //container      = 'zymo-trimgalore'
    }
    withName: multiqc {
        cpus             = 4
        memory           = 1.GB
        //container      = 'zymo-trimgalore'
    }
}

//add full docker container
process.container        = 'thamle/rnaseq'
docker {
    enabled              = true
}